:root {
    --text: rgb(255, 242, 232);
    --text1:rgb(0, 0, 0);
    --heading-background-color:rgb(19, 66, 66);
    --heading-background-color1:rgb(250, 205, 153);
    --heading-background-color2:rgb(176, 202, 202);
    
}

body {
    font-family: "Poppins", Arial ,sans-serif;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

main {
    grid-area: main;
    width: 100%;
    max-width: none;
    margin: 0;
}

header {
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--heading-background-color1);
    color: var(--text1);
    
}
h1 {
    font-weight:900;
    font-size: 1.5rem;
    font-style: italic;
}

.logo {
    display: flex;
    gap: 5px;
}

.logo-icon::before {
    content: "";
    display: inline-block;
    width: 78px;
    height: 78px;
    background: url("../images/logo-small.png");
    background-size: contain;

}

#menu {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 3rem;
    text-decoration: none;
    padding: 0 2rem;
    background-color: var(--heading-background-color1);
    color: var(--text1);

}

#menu::before {
    content: "≡";

}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 1460px;
    text-align: center;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0 0 0.5rem 0;
    text-align: left;
    text-decoration: none;
    color: var(--text1);
    transition: 0.5s;
    font-size: 1.5rem;
}

.navigation a:hover,
button:hover {
    color: tomato;
    cursor: pointer;
}

.navigation.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}
 
.hero {
    width: 100%;
    margin: 0 .8rem;

}

.banner {
    width: 100%;
    height: auto;
    margin: 0 -.8rem;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}

.sub1 input[type="text"],
.sub1 input[type="email"],
.sub1 input[type="submit"]
{
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 1rem 0;
    border-radius: .5rem;
    background-color: var(--text);
}
.sub1 input[type="submit"]{
margin-left:.8rem;
font-weight: 700;
font-size: larger;
color: var(--text1);
margin: -.8rem 0 1rem 0rem;
background-image: linear-gradient(var(--heading-background-color1), var(--heading-background-color2));
}

.sub1 fieldset {
    margin: 2rem 0;
    border: none;
    border-radius: 6px;
    padding: .5rem 2%;
}
.sub1 label {
    display: block;
    /* block allows the things to be stacked together nicely.*/
    padding-top: .5rem;
    color: var(--heading-background-color);
    font-size: 1rem;
}
.form h2{
    margin-left: .8rem;
 }
.sub1 div {
    padding-top: 1rem;
    color: #445ba9;
    font-size: .9rem;
}
#picture-cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    

}

#picture-cards img {

    width: 100%;
    height: auto;
    margin: 0;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;

}

#picture-cards img:hover {
    transform: scale(1.03);
}
#filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    align-self: center;
    padding: 0.25rem 5%;
}

#filter-buttons button {
    width: 9rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--heading-background-color);
    color: var(--heading-background-color2);
    margin: 0.5rem;
}
#recipes-pictures {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    gap: 2rem;
}

#recipes-pictures img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#recipes-pictures img:hover {
    transform: scale(1.03);
}

#filter-buttons{
margin: 4rem;
}

h2 {
    text-align: center;
}
footer {
    grid-area: footer;
    background-color: var(--heading-background-color1);
    height: 6rem;
    margin:0;
    width: 100%;
    color: var(--text1);
    text-align: center;
    font-size: 1rem;
}

.star-rating {
    direction: rtl;
    font-size: 6rem;
    unicode-bidi: bidi-override;
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    align-self: normal;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: lightgray;
    cursor: pointer;
}

.star-rating input:checked~label {
    color: gold;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: gold;
}

.rev input[type="text"],
.rev textarea
    {
    background-color: #eee;
    display: block;
    /* blco will align or stack all the listed types on top of each other*/
    padding: .75rem;
    /*this is the minmum or recommended*/
    border: 1px solid #999;
    border-radius: 6px;
    color: #555;
    width: 100%;
    max-width: 350px;
    appearance: none;
    /*to override the browser default settings*/
}

.rev select {
    display: block;
    width: 96%;
    max-width: 425px;
    /* match other inputs */
    box-sizing: border-box;
    background-color: #eee;
    padding: .75rem;
    padding-right: 2.5rem;
    /* extra space for arrow */
    border-radius: 6px;
    border: 1px solid #999;
    appearance: none;
    /* removes default arrow (some browsers) */

}


.rev input,
.rev select,
.rev textarea {
    margin-top: 0.5rem;
}


.rev input[type="submit"] {
    border: none;
    background-image: linear-gradient(#418574, #041d1a);
    color: white;
    padding: .8rem;
    width: 100%;
    max-width: 425px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px var(--heading-background-color);
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;

}

.rev input[type="checkbox"] {
    margin-right: 6px;
}

.rev fieldset {
    margin: 2rem 0;
    border: none;
    border-radius: 6px;
    padding: .5rem 2%;
}

.rev label {
    display: block;
    /* block allows the things to be stacked together nicely.*/
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
}

.check-all p {
    padding-top: 0;

    font-size: .9rem;
    font-style: italic;
}

.banner-text {
    position: absolute;
    bottom: 45%;
    left: 45%;
    transform: translateX(-40%);
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    border-radius: 1px;
    max-width: 90%;
    width: 20rem;
}

.banner-text blockquote {
    margin: 0;
    font-size: .5rem;
    font-style: italic;
    text-align: center;
    font-weight: 800;
    color:var(--text1);
}

.banner-text footer {
    font-size: .4rem;
    color: var(--text1);
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
}

.rev p{
    font-weight: 800;
    font-size: 30px;
}