:root{
    --background-color: rgb(190, 134, 192);
    --background-color-opaque: rgba(167, 122, 153, 0.7);
    --text: black;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
header{
    text-align: center;
    background-color:var(--background-color);
    color: var(--text);
    height:4rem;
    width: 100%;
}

.hero {
    display: felx;
    flex-wrap: wrap;
    width: fit-content;
}
.image{
   
    width: 100%;
    height: auto;
    position: block;
}
.image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.data, .weather{
    text-align: center;
    background-color: rgb(228, 219, 226);
    border-bottom: .1rem solid rgb(241, 239, 239);
    text-align: left;
    padding: 1rem 8rem;
    border-bottom: none;
    margin:0;
}
 .weather{
    margin:0.1rem 0 0 0;
 }
.heading{
    font-weight: 900;
    font-size: 1.5rem;
    
}
.weather-icon::before{
    content: "";
    display: inline-block;
    width: 90px;
    height: 90px;
    background: url("/images/weather-small.svg");
    background-size: contain;
    
}

.row{
    display: grid;
    grid-template-columns: 120px 1fr;
    margin: 0.3rem 0;
}

 .label::after{
    content: ":";
    padding-right: 10px;
}

.label {
    font-weight: bold;
    text-align: right;
}

.value {
    text-align: left;
}
footer {
    justify-content: space-around;
    background-color: var(--background-color);
    height: auto;
    width: 100%;
    color: var(--text);
    font-size: 0.3rem 0;
    position: static;
    height: 4rem;
    text-align: center;
}
